*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}


body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, hsl(200, 100%, 50%), hsl(175, 100%, 50%));
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}
.calculator-grid > button:hover {
    background-color: rgb(224, 221, 221);
}
.span-two{
    grid-column: span 2;
}
.output{
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.575);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.output .previous-operand{
    color: rgba(255, 255, 255, .8);
    font-size: 1.5rem;
}
.output .current-operand{
    color: white;
    font-size: 2.5rem;
}